---
import type { GetStaticPaths } from 'astro'
import Layout from '../../layouts/Layout.astro'
import TrackList from '../../components/TrackList.svelte'
import type { ISpotifyTrack } from 'jvb-spotty-models'
import { getAllTracks } from '../../lib/spotifyApi'
import { loadS3PlaylistsJson, type S3PlaylistJson } from '../../lib/s3Json'

// i should really do this differently for DEV vs LIVE
export const getStaticPaths = (async () => {
  const playlists = await loadS3PlaylistsJson()

  const playlistsWithTracks: Array<
    S3PlaylistJson & {
      year: number
      tracks: ISpotifyTrack[]
    }
  > = []

  // could run these concurrently
  if (import.meta.env.PROD) {
    // loading all spotify tracks kinda spenny
    for (const playlist of playlists) {
      const tracks = await getAllTracks(playlist.trackIds)
      playlistsWithTracks.push({
        ...playlist,
        year: parseInt(playlist.name.replace("TONY'S TOP TRACKS ", '')),
        tracks,
      })
    }
  } else {
    for (const playlist of playlists) {
      playlistsWithTracks.push({
        ...playlist,
        year: parseInt(playlist.name.replace("TONY'S TOP TRACKS ", '')),
        tracks: playlist.trackIds.map((id) => ({
          id,
          name: `name_${id.substring(0, 5)}`,
          artists: [{ name: `name_${id.substring(0, 5)}` }],
        })) as ISpotifyTrack[],
      })
    }
  }

  return playlistsWithTracks.map((playlist) => ({
    params: { playlistId: playlist.id },
    props: {
      playlist,
    },
  }))
}) satisfies GetStaticPaths

// cant access url query params tho cos I'm doing SSG
// so can't redirect here!
const { playlist } = Astro.props
---

<style>
  h1 {
    text-align: center;
  }
  p {
    text-align: center;
  }
</style>
<Layout title=`playlist | ${playlist.year}`>
  <main>
    <h1>{playlist.name}</h1>
    <TrackList client:only tracks={playlist.tracks} />
  </main>
</Layout>
